%h1 Blands#show
%p Find me in app/views/blands/show.html.erb
%input{name: "stock_price", type: "hidden", value: @stock_price, class: 'stock_price' }/
#chart_div{:style => "width: 98%; height: 500px;"}

